*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/**** COMMONS ****/
.container{
    width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    margin: 10px 20px 10px 20px;
    border-radius: 25px;
    width: 100%;
}

/**** HEADER ****/
header{
    background-color: #0084FD;
    height: 100px;
    margin-bottom: 50px;
}

.content-header {
    display: flex;
    justify-content: space-around;
}

.col-header{
    background-color: red;
    height: 75px;
}

/**** MAIN ****/


/* CONTAINER JUMBOTRON */
.jumbotron{
    text-align: center;
}

.col-jumbo{
    background-color: #B5DDFF;
    height: 200px;
}

.col-img{
    background-color: #B5DDFF;
    height: 400px;
}

/* CONTAINER BG PLANNING */
.bg-violet{
    background-color: #9792E4;
}

.col-planning{
    background-color: white;
    margin-bottom: 40px;
    height: 400px;
}

/* CONTAINER TESTIMONIALS */
h4{
    background-color: black;
    height: 50px;
    margin: 20px 0 20px 0;
}

h2{
    background-color: blue;
    height: 75px;
    margin: 20px 0 20px 0;
}

p{
    background-color: lightgray;
    height: 100px;
    margin: 20px 0 20px 0;
}

.col-testimonials{
    background-color: #9792E4;
    height: 350px;
}

.col-testimonials:last-child{
    margin-bottom: 50px;
}

/* CONTAINER BENEFITS */
.col-benefits{
    background-color: white;
    height: 200px;
}

.col-benefits:last-child {
    margin-bottom: 50px;
}

/* CONTAINER ABOUT US */
.col-about{
    background-color: yellow;
    height: 200px;
}

.col-about:first-child{
    height: 500px;
    margin-top: 40px;
}

.col-about:last-child {
    margin-bottom: 40px;
}

/* CONTAINER GET STARTED */
.col-started{
    background-color: white;
    margin: 40px 20px 40px 20px;
}

h1{
    background-color: orange;
    height: 90px;
}

button{
    background-color: #9792E4;
}

/**** FOOTER ****/
footer{
    background-color: gray;
    text-align: center;
    height: 100px;
}

/**** MEDIA QUERY - RESPONSIVE DESIGN ****/
@media screen and (min-width:768px) {
    .col{
        margin: 10px;
    }

    .col-img {
        width: calc(100% / 3 * 2 - 20px);
    }

    .col-jumbo {
        width: calc(100% / 3 - 20px);
    }

    .col-benefits {
        width: calc(100% / 2 - 20px);
    }

    .col-about{
        width: calc(100% / 2 - 20px);
    }

    .col-about:last-child {
    margin: 40px 0 0 10px;
    }
}    

@media screen and (min-width: 1200px) {
    .content-header{
        width: 1000px;
        margin: 0 auto;
    }
    
    .row{
        justify-content: center;
        margin: 0 auto;
        width: 1000px;
    }

    .col-jumbo {
        width: calc(100% / 3 - 40px);
    }

    .col-img {
        width: calc(100% / 3 * 2 - 40px);
    }
    
    .col-planning{
        width: calc(100% / 2 - 20px);
    }

    .col-benefits{
        width: calc(100% / 3 - 20px);
    }
}