*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/**** MEDIA QUERY - RESPONSIVE DESIGN ****/


/**** HEADER ****/


/**** MAIN ****/


/* CONTAINER JUMBOTRON */


/* CONTAINER BG VIOLE */


/* CONTAINER TESTIMONIALS */


/* CONTAINER BENEFITS */


/* CONTAINER ABOUT US */


/* CONTAINER GET STARTED */


/**** FOOTER ****/